@media all and (max-width: 1000px) {
  video {
  width:650px;
  height:550px;  
}
button {
  width:100px;
  height: 50px;
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
video {
  width:500px;
  height:550px;  
}
  
}